.dockerignore
.editorconfig
.git
.gitattributes
.gitignore
.vs
.vscode
CodeMaid.config
LICENSE
omnisharp.json
OrleansDockerSample.code-workspace
README.md

src/*/bin
src/*/obj

**/.toolstarget
**/Dockerfile*
